<head>
    <link rel="stylesheet" href="reportes.component.css">
  </head>
  
  <body>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/inicio">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reportes </li>
    </ol>
  
    <div class="row animated fadeIn faster">
      <div class="col">
        <div class="card">
          <h3 class="card-header"data-toggle="collapse" data-target="#reporte1"
          aria-expanded="true" 
                aria-controls="reporte1">
            Reporte General&nbsp;<i class="fas fa-angle-double-up"></i></h3>
          <div class="card-body collapse show" id="reporte1">
            <form [formGroup]="reporteForm" (ngSubmit)="guardar( )">
              
              <!-- Datos Reporte-->
              <div class="row justify-content-center">
                <div class="col-lg-5">
                  <div class="form-group">
                    <label><b>Mes</b><span class="requerido"> *</span></label>
                    <select autofocus class="custom-select"
                      [class.is-invalid]="mesNoValido"
                          formControlName="mes" name = "mes" required>
                      <option selected value=''>Seleccione</option>
                      <option value="1">Enero</option>
                      <option value="2">Febrero</option>
                      <option value="3">Marzo</option>
                      <option value="4">Abril</option>
                      <option value="5">Mayo</option>
                      <option value="6">Junio</option>
                      <option value="7">Julio</option>
                      <option value="8">Agosto</option>
                      <option value="9">Setiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    </select> 
                            
                    </div>
                  </div>
              </div>
             
              <div class="row justify-content-center">
                <div class="col-lg-5">
                  <div class="form-group">
                      <label><b>Año</b><span class="requerido"> *</span></label>
                    <select ui-seldivect2 [class.is-invalid]="anhoNoValido"
                      class="form-control input-sm"          
                      formControlName="anho" name = "anho" required>
                      <option value=''>Seleccione</option>
                      <option *ngFor="let item of listaAnhos; let i = index"
                        value="{{item}}">
                          {{item}}
                      </option>
                    </select>                              
                  </div>
                </div>
              </div>
              
              <br>
              <div *ngIf="alertGuardar" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                Existen campos obligatorios. Verifique.
                <button type="button" (click)="cerrarAlertGuardar()" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary ">
                  <i class="fa fa-save"></i>
                  Generar Reporte
                </button>
                &nbsp;&nbsp;               
              </div> 
              <hr> 
            </form>
            
          </div>
        </div>

        <div class="card">
          <h3 class="card-header"data-toggle="collapse" data-target="#reporte2"
          aria-expanded="true" 
                aria-controls="reporte2">
            Reporte Mensual&nbsp;<i class="fas fa-angle-double-up"></i></h3>
            <div class="card-body collapse show" id="reporte2">
              <!-- Informe Mensual-->
              <form [formGroup]="reporteForm2" (ngSubmit)="guardarInformeMensual( )">
                            
                <!-- Datos Reporte-->
                <div class="row justify-content-center">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <label><b>Mes</b><span class="requerido"> *</span></label>
                      <select autofocus class="custom-select"
                        [class.is-invalid]="mes2NoValido"
                            formControlName="mes" name = "mes" required>
                        <option selected value=''>Seleccione</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select> 
                              
                      </div>
                    </div>
                </div>
              
                <div class="row justify-content-center">
                  <div class="col-lg-5">
                    <div class="form-group">
                        <label><b>Año</b><span class="requerido"> *</span></label>                       
                        <select ui-seldivect2 [class.is-invalid]="anhoNoValido2"
                          class="form-control input-sm"          
                          formControlName="anho" name = "anho" required>
                          <option value=''>Seleccione</option>
                          <option *ngFor="let item of listaAnhos; let i = index"
                            value="{{item}}">
                              {{item}}
                          </option>
                        </select>                                
                    </div>
                  </div>
                </div>
                
                <br>
                <div *ngIf="alertGuardar2" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                  Existen campos obligatorios. Verifique.
                  <button type="button" (click)="cerrarAlertGuardar2()" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="form-group text-center">
                  <button type="submit"
                          class="btn btn-primary ">
                    <i class="fa fa-save"></i>
                    Generar Reporte
                  </button>
                  &nbsp;&nbsp;               
                </div>  
                <hr>
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
